# emacs backup
*~
# fio scratch files
scratch/*

#kbuild output

*build.txt
builds.json
over-out.txt
*kate-swp
butt
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
raxlpxs
# Debug files
*.dSYM/
*.exp
index.html*
\#*
.#*
linux-*.tar*
